# Week 2

### Sequence Data Types (SDT's) - Part 1

#### String and List

In [1]:
string1="Python"
list1=['ML',1,6,[2,5,4],{'trivia':2}]

In [2]:
list1[-1]['trivia']

2

#### Array

In [3]:
from array import *
array1=array('i',[5,9,61,-5])

In [4]:
array1[2]

61

In [5]:
array1

array('i', [5, 9, 61, -5])

In [6]:
print(array1)

array('i', [5, 9, 61, -5])

#### Tuple - data of different data types, comma-separated, enclosed w/in parentheses

In [7]:
tuple1=('hi',['do','i','know','you','?'],76,{1:'love',2:'insightful'})

In [8]:
tuple1[2]

76

In [9]:
tuple1[-1][2]

'insightful'

In [10]:
tuple1[1][2][1]

'n'

#### Dictionary - key-value pairs, comma-separated, enclosed w/in curly braces

In [11]:
dict1={1:'come on',2:'let\'s do it','we are ready':'let\'s go',3:4}

In [12]:
dict1[2][3]

"'"

In [13]:
dict1['we are ready']

"let's go"

##### Using dict() function

In [14]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [15]:
# dict2 shall be an empty dictionary
dict2=dict()
# Initialising dict 3 using a list of tuples
dict3=dict([(1,3),('high','key'),(2,'really?')])

In [16]:
dict2

{}

In [17]:
dict2['quack']='duck'
dict2['cluck']='chicken'

In [18]:
dict2

{'quack': 'duck', 'cluck': 'chicken'}

In [19]:
dict3

{1: 3, 'high': 'key', 2: 'really?'}

In [20]:
print(dict3['high'],dict3[2])

key really?

get() - returns value of specified key

In [21]:
dict3.get(1)

3

fromkeys() - returns a dictionary with specified keys and single value

In [22]:
dict2.fromkeys([1,2,3,4])

{1: None, 2: None, 3: None, 4: None}

In [23]:
dict2

{'quack': 'duck', 'cluck': 'chicken'}

In [24]:
dict4=dict.fromkeys([1,2,3,4],'hi')
dict4

{1: 'hi', 2: 'hi', 3: 'hi', 4: 'hi'}

items() - returns list containing a tuple for each key value pair

In [25]:
dict3.items()

dict_items([(1, 3), ('high', 'key'), (2, 'really?')])

keys() - returns list containing the dictionary's keys

In [26]:
dict2.keys()

dict_keys(['quack', 'cluck'])

pop() - removes element with specified key, returns the value mapped to that key

In [27]:
dict3.pop('high')

'key'

In [28]:
dict3

{1: 3, 2: 'really?'}

popitem() - removes last inserted key-value pair

In [29]:
dict4.popitem()

(4, 'hi')

In [30]:
dict4

{1: 'hi', 2: 'hi', 3: 'hi'}

setdefault() - returns value of the specified key, if key does not exist insert the key with the specified value

In [31]:
dict3.setdefault(2)

'really?'

In [32]:
dict3.setdefault(3,'yes')

'yes'

In [33]:
dict3

{1: 3, 2: 'really?', 3: 'yes'}

update() - updates contents of dictionary, adds specified key:value pairs to it

In [34]:
dict2.update([(1,2),(3,4)])

In [35]:
dict2

{'quack': 'duck', 'cluck': 'chicken', 1: 2, 3: 4}

values() - returns list of all the values in dictionary

In [36]:
dict3.values()

dict_values([3, 'really?', 'yes'])

#### Set - any immutable data type can be a member, lists cannot be members (mutable), enclosed w/in curly braces, does not support indexing

In [37]:
set1={'water',3,'pandas',5.06}

In [38]:
set1

{3, 5.06, 'pandas', 'water'}

In [39]:
set2=set()
set3=set([1,'kohl','egypt',13])

In [40]:
set2

set()

In [41]:
set3

{1, 13, 'egypt', 'kohl'}

#### Range

In [42]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [43]:
range1=range(1,20,4)

In [44]:
range1

range(1, 20, 4)

In [45]:
for i in range1:
    print(i)

1
5
9
13
17

### SDT's - Part 2

#### Indexing methods

index() - returns first occurrence of specified value

In [46]:
string1.index('t')

2

In [47]:
string1.index('hon')

3

In [48]:
list1.index([2,5,4])

3

In [49]:
array1.index(9)

1

In [50]:
tuple1.index('hi')

0

In [51]:
range1.index(9)

2

#### Slicing methods

In [52]:
slice1=slice(1,8,2)

In [53]:
slice1

slice(1, 8, 2)

In [54]:
string2='pythonfor data science'
string3=string2[slice1]

In [55]:
string3

'yhno'

In [56]:
string2[slice(1,-4,3)]

'yoodac'

### SDT's - Part 3

In [57]:
string4='one'+'grilled'+'chicken'
string4

'onegrilledchicken'

In [58]:
[1,5]+[6,5,4]+[[2]]

[1, 5, 6, 5, 4, [2]]

In [59]:
tuple1+=('html','js')
tuple1

('hi',
 ['do', 'i', 'know', 'you', '?'],
 76,
 {1: 'love', 2: 'insightful'},
 'html',
 'js')

In [60]:
set1={3, 5.06, 'pandas', 'water','amethyst'}
set1

{3, 5.06, 'amethyst', 'pandas', 'water'}

In [61]:
string3*5

'yhnoyhnoyhnoyhnoyhno'

In [62]:
tuple1*3

('hi',
 ['do', 'i', 'know', 'you', '?'],
 76,
 {1: 'love', 2: 'insightful'},
 'html',
 'js',
 'hi',
 ['do', 'i', 'know', 'you', '?'],
 76,
 {1: 'love', 2: 'insightful'},
 'html',
 'js',
 'hi',
 ['do', 'i', 'know', 'you', '?'],
 76,
 {1: 'love', 2: 'insightful'},
 'html',
 'js')

In [63]:
array1*2

array('i', [5, 9, 61, -5, 5, 9, 61, -5])

In [64]:
list1*5

['ML',
 1,
 6,
 [2, 5, 4],
 {'trivia': 2},
 'ML',
 1,
 6,
 [2, 5, 4],
 {'trivia': 2},
 'ML',
 1,
 6,
 [2, 5, 4],
 {'trivia': 2},
 'ML',
 1,
 6,
 [2, 5, 4],
 {'trivia': 2},
 'ML',
 1,
 6,
 [2, 5, 4],
 {'trivia': 2}]

### String Methods

In [65]:
string3.rjust(10)

'      yhno'

In [66]:
string3

'yhno'

In [67]:
string2.rjust(30)

'        pythonfor data science'

In [68]:
string2

'pythonfor data science'

In [69]:
string2.capitalize()

'Pythonfor data science'

In [70]:
string2.title()

'Pythonfor Data Science'

In [71]:
string2.title().swapcase()

'pYTHONFOR dATA sCIENCE'

In [72]:
string2.find('s')

15

In [73]:
string2.count('o')

2

In [74]:
string2.replace('for',' for')

'python for data science'

In [75]:
string2=string2.replace('for',' for')
string2

'python for data science'

In [76]:
string2.split()

['python', 'for', 'data', 'science']

In [77]:
string2

'python for data science'

In [78]:
string5='*'
string5.isalnum()

False

In [79]:
print("Elements used:\nSet = {}, Dictionary = {}, Tuple = {}, List = {}".format(set1,dict1,tuple1,list1))

Elements used:
Set = {3, 5.06, 'pandas', 'water', 'amethyst'}, Dictionary = {1: 'come on', 2: "let's do it", 'we are ready': "let's go", 3: 4}, Tuple = ('hi', ['do', 'i', 'know', 'you', '?'], 76, {1: 'love', 2: 'insightful'}, 'html', 'js'), List = ['ML', 1, 6, [2, 5, 4], {'trivia': 2}]

#### Methods for Mulitiple SDT's

In [80]:
len(tuple1)

6

In [81]:
len(array1)

4

In [82]:
len(dict1)

4

In [83]:
len(string4)

17

In [84]:
len(set1)

5

In [85]:
len(range1)

5

In [86]:
list1.reverse()
list1

[{'trivia': 2}, [2, 5, 4], 6, 1, 'ML']

In [87]:
array1.reverse()
array1

array('i', [-5, 61, 9, 5])

In [89]:
dict1.clear()
dict1

{}

In [90]:
list1.clear()
list1

[]

In [91]:
set1.clear()
set1

set()

In [93]:
set1.update([5,10])
set1

{5, 10}

In [95]:
set1.update({4,10,25,-5})
set1

{-5, 4, 5, 10, 25}

In [97]:
set1.update((2,8,6,4,-98))
set1

{-98, -5, 2, 4, 5, 6, 8, 10, 25}

In [99]:
set1.update({1:6,5:45,4:18,3:26})
set1

{-98, -5, 1, 2, 3, 4, 5, 6, 8, 10, 25}

append() - appends element to end of list or array, works only w/ list or array

In [100]:
array1.append(21)
array1

array('i', [-5, 61, 9, 5, 21])

In [105]:
list1.append('gaia')
list1

['gaia']

add() - adds element to end of set, aplicable only in case of sets

In [106]:
set1.add('54')
set1

{-5, -98, 1, 10, 2, 25, 3, 4, 5, '54', 6, 8}

In [108]:
set1.add(1000)

{-5, -98, 1, 10, 1000, 2, 25, 3, 4, 5, '54', 6, 8}

#### Dictionary Methods

In [109]:
dict1

{}

In [110]:
dict1[1]='autumn'
dict1[2]='winter'
dict1[3]='spring'
dict1[4]='summer'

In [111]:
dict1

{1: 'autumn', 2: 'winter', 3: 'spring', 4: 'summer'}

In [113]:
# returns a list of the keys used
list(dict1)

[1, 2, 3, 4]

In [114]:
dict1.keys()

dict_keys([1, 2, 3, 4])

In [115]:
dict1.items()

dict_items([(1, 'autumn'), (2, 'winter'), (3, 'spring'), (4, 'summer')])

#### Methods common across multiple SDT's (contd.)

insert() - on arrays and lists, inserts item at specified index, if index not available, at beginning/end

In [137]:
array1.insert(4,28)
array1

array('i', [-5, 61, 5, 20, 28])

In [123]:
list1.insert(5,'annabeth')
list1

['gaia', 15, 15, 'zeus', 'athena', 'annabeth']

pop() - removes element at specified index, default value of index is -1, applicable to lists, arrays, dictionaries

In [124]:
list1.pop(3)
list1

['gaia', 15, 15, 'athena', 'annabeth']

In [125]:
array1.pop(2)
array1

array('i', [-5, 61, 5, 20, 28, 21])

In [126]:
array1.pop()

21

In [127]:
array1

array('i', [-5, 61, 5, 20, 28])

In [129]:
dict1.pop(4)

'summer'

In [130]:
dict1

{1: 'autumn', 2: 'winter', 3: 'spring'}

remove() - removes first occurrence of element specified, for arrays, lists, sets

In [135]:
list1.remove(15)
list1

['gaia', 15, 'athena', 'annabeth']

In [138]:
array1.remove(28)
array1

array('i', [-5, 61, 5, 20])

In [139]:
set1.remove(2)
set1

{-5, -98, 1, 10, 1000, 25, 3, 4, 5, '54', 6, 8}

discard() - applicable to sets, removes element specified if present, otherwise does nothing

In [141]:
set1.discard(57)
set1

{-5, -98, 1, 10, 1000, 25, 3, 4, 5, '54', 6, 8}

del - deletes entire object

In [143]:
del list1

In [144]:
list1

NameError: name 'list1' is not defined

#### Array Operations

extend() - adds elements of specified iterable into array

In [149]:
array1.extend({15,56,385})
array1

array('i', [-5, 61, 5, 20, 2, 1, 2, 2, 1, 2, 1, 5, 85, 56, 385, 15])

fromlist() - adds elements into array from list

In [150]:
array1.fromlist([3,4])

In [151]:
array1

array('i', [-5, 61, 5, 20, 2, 1, 2, 2, 1, 2, 1, 5, 85, 56, 385, 15, 3, 4])

tolist() - returns list btained from array

In [152]:
array1.tolist()

[-5, 61, 5, 20, 2, 1, 2, 2, 1, 2, 1, 5, 85, 56, 385, 15, 3, 4]

In [153]:
array1

array('i', [-5, 61, 5, 20, 2, 1, 2, 2, 1, 2, 1, 5, 85, 56, 385, 15, 3, 4])

#### Set Operations

union() - mathematical union

In [155]:
set1={'microsoft'}
set2={'me'}
set3=set1.union(set2)
set3

{'me', 'microsoft'}

intersection() - mathematical intersection

In [156]:
set4={25,2,3,11}
set5={2,3,8,11}
set6=set4.intersection(set5)
set6

{2, 3, 11}